<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @* <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> *@
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
    <inline-style href="css/style.css"></inline-style>
</head>

<body>
    @RenderBody()
    <footer>
        <p>&copy; 2018 - WebApplication1</p>
    </footer>
</body>
</html>